@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');

* {
    border: 0;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #172c3c;
}

.main-container {
    width: 50rem;
    height: auto;
}

.title-container {
    margin: 0 auto;
    width: 100%;
    padding: 4rem;
    text-align: center;
}

.title-container h1{
    color: #e5e7d2;
    font-size: 3.5rem;
    font-family: 'Poppins', sans-serif;
}

.stage-container {
    padding: 1.5rem;
    background-color: #274862;
    border-radius: 0.1rem;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;

    gap: 1.5rem;
    width: 100%;
}

.home-stage {
    display: flex;
    align-items: center;
    justify-content: center;

    max-width: 15.5rem;
    height: 15.5rem;

    border: 0.2rem solid #faf8ed;
    border-radius: 0.2rem;
    background-color: #f6f1de;
}

.home-stage:hover {
    opacity: 0.70;
    cursor: pointer;
}

/* Jogadores X ou O */

.o::after {
    content: "🟡";
    font-weight: 200;
    font-family: 'Source Code Pro', monospace;
    font-size: 10rem;
}

.x::after {
    content: "❌";
    font-weight: 200;
    font-family: 'Source Code Pro', monospace;
    font-size: 10rem;
}